/* Обнуление  
========================*/
* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: none; */
  }
  /*Container
  ========================*/
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  /*======================*/
  
  .body {
    color: #000000;
  }
  
  /*Header
  ========================*/
  .header {
    background: #ffffff;
    filter: invert(100%);
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo__text {
    font-size: 35px;
    text-transform: uppercase;
    color: black;
    font-family: "Luckiest Guy", cursive;
  
    letter-spacing: 5px;
  }
  
  .logo__img {
    width: 40px;
    height: 40px;
  }
  
  .menu-list {
    display: flex;
    align-items: center;
    font-size: 17px;
  }
  
  .menu-list__item {
    color: black;
    margin-left: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.8;
    transition: opacity 0.1s linear;
  }
  
  .menu-list__item:hover {
    opacity: 1;
  }
  
  .basket {
    height: 40px;
    width: 40px;
    margin-left: 40px;
    opacity: 0.75;
    transition: opacity 0.1s linear;
  }
  
  .basket:hover {
    opacity: 1;
  }
  
  /*Строка поиска
  ========================*/
  .search-form {
    position: relative;
    width: 250px;
    height: 40px;
  }
  
  .search-place {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
  
    outline: none;
    background: transparent;
  
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 260px;
  
    border-bottom: 2px solid #000000;
  }
  
  .search-btn {
    background: #ffffff;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  .search-btn:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
  }
  
  /*About
  ========================*/
  
  .about-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about__product {
    font-family: "Montserrat", sans-serif;
  }
  
  .about__product h1 {
    font-size: 70px;
    padding: 50px 0 15px 0;
    color: #1b1b1b;
  }
  
  .about__product p {
    font-size: 20px;
    line-height: 1.8;
    color: #3d3d3d;
    margin: 30px 0;
    width: 500px;
  }
  
  .about__img img {
    width: 500px;
    height: 400px;
  }
  
  /*About-button
  ========================*/
  .about__product a {
    outline: none;
    display: inline-block;
    width: 180px;
    height: 65px;
    line-height: 65px;
    border-radius: 45px;
    margin: 30px 0 30px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .about__product a:hover {
    background: #2eabe5;
    box-shadow: 0 15px 20px rgba(46, 162, 229, 0.4);
    color: white;
    transform: translateY(-7px);
  }
  
  /*Product
  ========================*/
  .product__title {
    font-family: "Montserrat", sans-serif;
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 50px 0;
    text-transform: uppercase;
    color: #5e5e5e;
  }
  
  .product-wrap {
    width: 23%;
    background: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-bottom: 16px;
    padding-bottom: 15px;
  }
  
  .product__item {
    position: relative;
    overflow: hidden;
  }
  
  .product__img {
    display: block;
    width: 100%;
    height: 140px;
    margin-top: 20px;
  }
  
  .product-buy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000cc;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .product-buy__button {
    text-decoration: none;
    color: #2eabe5;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #2eabe5;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out;
  }
  
  .product-buy__button:before {
    content: "\f07a";
    font-family: FontAwesome;
    margin-right: 10px;
  }
  
  .product__item:hover .product-buy {
    opacity: 1;
  }
  
  .product__item:hover .product-buy__button {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .product-buy__button:hover {
    background: black;
  }
  
  .product-description a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 600;
    margin: 35px 0 5px;
    padding-bottom: 10px;
    display: block;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  
  .product-description a:hover {
    color: #2eabe5;
  }
  .product-description:hover a:after {
    background: #2eabe5;
  }
  
  .product-description p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .product-price {
    font-size: 20px;
    color: #2eabe5;
    font-weight: 700;
  }
  
  .product__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  /*Footer
  ========================*/
  
  .footer {
    /* position: fixed;
    bottom: 0px;
    width: 100%; */
    background: #232020;
    font-family: "Montserrat", sans-serif;
    color: #f8f8f8;
  }
  
  .footer__main-content {
    display: flex;
  }
  
  .footer__main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  
  .box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #f8f8f8ca;
  }
  
  .box .footer-content {
    margin: 20px 0 0 0;
    position: relative;
  }
  
  .box .footer-content:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 2px;
    width: 100%;
    background: #8f8f8f50;
  }
  .box .footer-content:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 15%;
    background: #2eabe5;
    top: -10px;
  }
  
  .footer__left .footer-content p {
    text-align: justify;
    padding-top: 10px;
  }
  
  .footer__left .footer-content .footer__social {
    margin: 13px 0 0 0;
  }
  
  .footer__left .footer-content .footer__social a {
    padding: 0 2px;
  }
  
  .footer__left .footer-content .footer__social a span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    transition: 0.3s;
    color: #faf6f6ca;
    margin-top: 10px;
  }
  
  .footer__left .footer-content .footer__social a span:hover {
    color: #2eabe5;
  }
  
  .footer__center .footer-content .fas {
    font-size: 1.4375rem;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #ffffffca;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .footer__center .footer-content .fas:hover {
    color: #2eabe5;
  }
  
  .footer__center .footer-content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  
  .footer__center .footer-content .footer__phone {
    padding: 10px 0;
  }
  
  .footer__right form .footer__email-text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #ffffff9f;
  }
  
  .footer__right form .footer-email-msg {
    margin-top: 10px;
  }
  
  .footer__right form .footer-input,
  .footer__right form .footer-txtarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #ffffff2d;
    padding-left: 10px;
    border: 1px solid #ffffff;
  }
  
  .footer__right form .footer-input:focus,
  .footer__right form .footer-txtarea:focus {
    outline-color: #2eabe5;
  }
  
  .footer__right form .footer-input {
    height: 35px;
  }
  
  .footer__right form .footer__button {
    margin-top: 10px;
  }
  
  .footer__right form .footer__button button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #2eabe5;
    font-size: 1.0625rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__right form .footer__button button:hover {
    background: #000;
  }
  
  .footer__bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #4e4e4e54;
  }
  
  .footer__bottom center span {
    color: #f0f0f077;
  }
  
  /*Delivery
  ========================*/
  .delivery {
    margin: 20px 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .delivery__title-all {
    font-family: "Montserrat", sans-serif;
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 50px 0;
    text-transform: uppercase;
    color: #5e5e5e;
  }
  
  .delivery-all {
    display: flex;
    justify-content: space-between;
  }
  
  .delivery__item {
    text-align: center;
    padding: 0 19px;
  }
  
  .delivery__title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .delivery__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .delivery__text {
    font-size: 16px;
    color: #000000be;
    line-height: 1.5;
  }
  
  /*Discount
  ========================*/
  
  .discount__table {
    display: flex;
    justify-content: center;
  }
  
  .discount .discount__table table {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    text-align: center;
    margin: 15px 0px 20px 0px;
  }
  
  .discount .discount__table table th,
  td:first-child {
    background: #2eabe5ca;
    color: #000000;
  
    padding: 10px 20px;
  }
  
  .discount .discount__table table th,
  td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
  }
  
  .discount .discount__table table th {
    font-weight: 600;
  }
  
  .discount .discount__table table td:nth-child(n + 2) {
    background: #d8e6f3;
  }
  .discount__title {
    font-family: "Montserrat", sans-serif;
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #5e5e5e;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  
  